<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>
        Add a Input field which updates a property ('username') via 
        Two-Way-Binding<br>Output the username property via String Interpolation (in 
        a paragraph below the input)<br>Add a button which may only be clicked if <br>
        the username is NOT an empty string <br>  Upon clicking the button, the
        username should be reset to an empty string <br>
      </p>
      <hr/>
      <label for="">username</label>
      <input type="text" [(ngModel)]="username"><br>
      {{username}}
      <br>
      <button type="button" class="btn btn-secondary">Reset</button>

    </div>
  </div>
</div>
